ul {
  margin: 0;
  padding-left: 0;
}

li {
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    justify-content: center;
}

.gallery-image {
    width: 360px;
}

.gallery-image:hover {
    cursor: url(../img/bxs_hand-down.svg), auto;
}

.basicLightbox {
    background: rgba(46, 47, 66, 0.8);
}