*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
    list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    justify-content: center;
}

/* .gallery-link:hover {

} */


.gallery-image {
    width: 360px;
}

.gallery-image:hover {
    cursor: url(../img/Vector.svg), auto;
}